.example-container {
  width: 100%;
  height: 100vh;
  // margin: 10px;
  // border: 1px solid #555;

  .side-nav-div {
    width: 20%;
    background-color: rgb(2, 2, 26);
    color: white;
    // text-align: center;
    // display: unset;
  }

  .sidePanel-main-div {
    background-color: rgb(2, 2, 26);
    color: white;

    a {
      img {
        height: 70px;
        object-fit: fill;
        overflow: hidden;
      }
    }
    .kcci-mat-tree {
      background-color: #051f3e;
      color: white;

      mat-tree-node {
        // padding-left: 30px;

        a {
          text-decoration: none;
          color: white;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          // line-height: 15px;
          // padding-left: 40px;
          width: 233px;
          padding: 8px 41px;
        }
        a:hover {
          background-color: #042954;

          width: 233px;
          padding: 8px 41px;
        }
      }

      .mat-tree-note {
        color: white;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 65px;
          background: #042954;
          color: white;
          padding: 30px 30px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          /* line-height: 22px; */
          margin: -1.6px 0;
          .flex{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            mat-icon{
              margin-right: 10px;
            }

          }
        }
      }
    }
  }
}
