.example-container {
  width: 100%;
  height: 100vh;
  // margin: 10px;
  // border: 1px solid #555;

  .side-nav-div {
    width: 20%;
    background-color: rgb(2, 2, 26);
    color: white;
    // text-align: center;
    // display: unset;
  }

  .sidePanel-main-div {
    background-color: rgb(2, 2, 26);
    color: white;

    a {
      img {
        height: 70px;
        object-fit: fill;
        overflow: hidden;
      }
    }
    .kcci-mat-tree {
      background-color: #042954;
      color: white;

      mat-tree-node {
        // padding-left: 30px;

        a {
          text-decoration: none;
          color: white;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          // line-height: 15px;
          // padding-left: 40px;
          width: 233px;
          padding: 8px 41px;
        }
        a:hover {
          background-color: #051f3e;

          width: 233px;
          padding: 8px 41px;
        }
      }

      .mat-tree-note {
        color: white;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 65px;
          background: #0056b3;
          color: white;
          padding: 30px 30px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          /* line-height: 22px; */
          margin: -1.6px 0;
        }
      }
    }
  }
}

// .active {
//   @apply bg-[#0f172a]  text-dark-slider-color;
// }

// $sidenavWidth: 260px;

// .sidenav {
//   padding: 20px 18px;
//   width: $sidenavWidth;
//   box-shadow: 6px 0 18px rgb(0 0 0 / 6%);
//   @apply flex flex-col h-full;

//   &__logo {
//     text-align: center;
//     padding: 20px 18px;
//   }

//   .mat-tree {
//     background-color: transparent;
//   }

//   &__body {
//     flex: 1 1 auto;
//     overflow-y: auto;
//   }

//   &__link {
//     padding: 12px 5px 12px 15px;
//     width: 100%;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: 16px;
//     letter-spacing: 0.2px;
//     text-align: left;
//     color: #323b6e;
//     @apply flex items-center;
//     &.active {
//       color: var(--color-primary);
//       font-weight: 600;
//       @apply bg-slate-100;
//     }

//     &.showed {
//       // @apply bg-slate-200;
//     }
//   }

//   .expanded-icon {
//     justify-self: end;
//     height: 20px;
//     width: 20px;
//     font-size: 20px;
//   }
// }

// .dropdown {
//   &__link {
//     padding: 12px 5px 12px 15px;
//     width: 100%;
//     font-size: 14px;
//     font-style: normal;
//     line-height: 16px;
//     letter-spacing: 0.2px;
//     text-align: left;
//     color: #2f343b;
//     // transition: all 0.3s linear;

//     &:hover,
//     &.active {
//       @apply bg-transparent text-indigo-400;
//     }
//   }
// }
// .kcci-mat-tree{
//   @apply py-2 mb-10;
// }
// .node-icon {
//   margin-right: 15px;
//   //   height: 20px;
//   width: 20px;
//   font-size: 20px;
// }

// .mat-tree-node {
//   min-height: auto !important;
//   border-radius: 3px;
// }

// ::ng-deep {
//   .cloud-provider__select {
//     display: block !important;

//     .mat-form-field-wrapper {
//       margin: 0;
//       padding: 0;
//     }

//     .mat-form-field-flex {
//       padding: 0 20px !important;

//       &:hover {
//         .mat-form-field-outline-thick {
//           opacity: 0.5 !important;
//           // color: #1A2C4C;
//         }
//       }
//     }

//     .mat-form-field-infix {
//       padding: 14px 0;
//       border-top: 5px solid transparent;
//       font-size: 14px;
//       display: flex;
//       line-height: 16px;
//       letter-spacing: 0.2px;

//       &:focus,
//       &:hover {
//         outline: none;
//       }
//     }

//     .mat-select-arrow-wrapper {
//       transform: none !important;
//     }

//     &__icon {
//       margin-right: 15px;
//       height: 20px !important;
//       width: 20px !important;
//       font-size: 20px !important;
//       margin-left: -3px;
//     }
//   }
// }
