<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="side-nav-div">
    <!-- side nav  -->
    <div class="sidePanel transition ease-in-out md:ml-8 2xl:ml-[35%] sticky top-2">
      
      <img src="../../assets/images/logo/291774973_2016748331843445_5453002926365219016_n 1.png" alt="">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="kcci-mat-tree">
        <mat-tree-node *matTreeNodeDef="let node" matRipple matTreeNodePadding matTreeNodePaddingIndent="10">
          <a [routerLinkActive]="'active'" [routerLink]="[node.url]" class="dropdown__link flex items-center">
            <mat-icon *ngIf="node.icon" class="node-icon">{{
              node.icon
            }}</mat-icon>
            {{ node.name }}
          </a>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matRipple matTreeNodePadding
          matTreeNodePaddingIndent="10">
          <button [attr.aria-label]="'Toggle ' + node.name" [class.showed]="treeControl.isExpanded(node)"
            class="sidenav__link flex justify-between items-center" matTreeNodeToggle>
            <div class="flex items-center">
              <mat-icon *ngIf="node.icon" class="node-icon">{{
                node.icon
              }}</mat-icon>
              {{ node.name }}
            </div>
            <mat-icon class="expanded-icon">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
    </div>
  </mat-drawer>




  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
