<div class="footer-offer">
    <div class="container">
        <div class="footer-offer-main">
            <div class="offer-left">
                <h3>Get 20% Discount For Subscriber</h3>
                <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
            </div>
            <div class="offer-right">
                <div class="email-area">
                    <div class="email-input">
                        <input type="email" value="" placeholder="Enter Your Email Address">
                    </div>
                    <div class="email-btn">
                        <button><i class="fa-solid fa-at"></i>Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----services-area-->
<div class="service-area">
    <div class="container">
        <div class="service-main">
            <!--service-details-->
            <div class="service-details">
                <div class="service-icon">
                    <span><i class="fas fa-truck"></i></span>
                </div>
                <div class="service-text">
                    <h3>Free Home Delivery</h3>
                    <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                </div>
            </div><!--service-details-end-->
               <!--service-details-->
               <div class="service-details">
                <div class="service-icon">
                    <span><i class="fas fa-sync-alt"></i></span>
                </div>
                <div class="service-text">
                    <h3>Instant Return Policy</h3>
                    <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                </div>
            </div><!--service-details-end-->
               <!--service-details-->
               <div class="service-details">
                <div class="service-icon">
                    <span><i class="fas fa-headset"></i></span>
                </div>
                <div class="service-text">
                    <h3>quick support system</h3>
                    <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                </div>
            </div><!--service-details-end-->
               <!--service-details-->
               <div class="service-details">
                <div class="service-icon">
                    <span><i class="fas fa-lock"></i></span>
                </div>
                <div class="service-text">
                    <h3>Secure Payment Way</h3>
                    <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                </div>
            </div><!--service-details-end-->

        </div>
    </div>
</div>

<!---footer-area-->
<div class="footer-area">
    <div class="container">
        <!---footer-main-->
        <div class="footer-main">
            <div class="footer-details">
                <div class="footer-logo">
                    <a href="#"><img src="./assets/images/logo/logo.png" alt=""></a>
                </div>
                <div class="footer-discription">
                    <p>Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam assumenda dolor perspiciatis sit ipsum dolor amet.</p>
                </div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <!---footer-address-->
            <div class="footer-address">
                <div class="footer-title">
                    <h3>Contact Us</h3>
                </div>
                <ul>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-at"></i></span>
                        </div>
                        <div>
                            <p>support@example.com</p>
                            <p>carrer@example.com</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-phone"></i></span>
                        </div>
                        <div>
                            <p>+120 279 532 13</p>
                            <p>+120 279 532 14</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-location-dot"></i></span>
                        </div>
                        <div>
                            <p>1Hd- 50, 010 Avenue</p>
                            <p>NY 90001 United States</p>
                        </div>
                    </li>
                </ul>
            </div><!---end-->
            <div class="footer-link">
                <div class="footer-title">
                    <h3>Quick Links</h3>
                </div>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="#">Best Seller</a></li>
                    <li><a href="#">New Arrivals</a></li>
                </ul>
            </div>
            <div class="app-download">
                <div class="footer-title">
                    <h3>Download App</h3>
                </div>
                <div class="footer-discription">
                    <p>Adipisci asperiores ipsum ipsa repellat consequatur repudiandae quisquam assumenda dolor perspiciatis sit ipsum dolor amet.</p>
                </div>
                <ul>
                    <li><a href="#"><img src="./assets/images/png/google-store.png" alt=""></a></li>
                    <li><a href="#"><img src="./assets/images/png/app-store.png" alt=""></a></li>
                </ul>
            </div>

        </div><!---end-->
        <div class="ntt">
            <div class="ntt-main">
                <div class="ntt-left">
                    <h3>© All Copyrights Reserved by <a href="#">Soft Lab It</a></h3>
                </div>
                <div class="ntt-right">
                    <ul>
                        <li><img src="./assets/images/png/01.jpg" alt=""></li>
                        <li><img src="./assets/images/png/02.jpg" alt=""></li>
                        <li><img src="./assets/images/png/03.jpg" alt=""></li>
                        <li><img src="./assets/images/png/04.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>