@import'./../../../theme/variables';
header{
    display: block;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}
.header-top-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: linear-gradient(to left, #52c234, #0cb94e);
    padding: 7px 10px;
    box-sizing: border-box;
    position: relative;
    transition: 0.3s linear;
}
.header-top-invisible{
    display: none;
}
.header-top-close span{
    background-color: $color-primary;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-discount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.header-discount h3{
    color:#fff;
    font-family: $font-en-primary;
    font-style: normal;
    font-weight: 400;
    display: block;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 18px;
}
.header-discount button{
    color: $color-primary;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
    outline: none;
    padding: 0px 12px;
    border-radius: 3px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-family: $font-en-primary;
    display: inline-block;
    font-style: normal;
    line-height: 24px;
    transition: all 0.3s linear;
}
.header-discount button:hover{
    background-color: $color-primary;
    color: #fff;
}
@media(max-width:600px){
    .header-discount{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
}
.header-midle{
    display: block;
    width: 100%;
    padding: 0px 12px;
    box-sizing: border-box;
    background-color: #fff;
}
.header-fixed{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 8%);
    z-index: 300;
}
.header-fixed .header-midle-main{
    border: none!important;
}
.header-midle-main{
    padding: 18px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid $color-border;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    width: 100%;
}
.header-logo{
    display: block;
    margin-right: 40px;
}
.header-logo img{
    width: auto;
    height: 45px;
    vertical-align: middle;
}
.join{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}
.join img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.join a{
    color: $heading-color;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px;
    font-family: $font-en-primary;
    white-space: nowrap;
    transition: all 0.3s linear;
}
.search-area{
    display: block;
    width: 100%;
    margin: 0px 38px;
}
.search-main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.search-input{
    width: 100%;
}
.search-input input{
    width: 100%;
    background-color:  #f5f5f5;
    height: 45px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: 2px solid transparent;
    font-family: $font-en-primary;
    font-size: 15px;
    color: $heading-color;
}
.search-input input:focus{
    background-color: #fff;
    border-color: $color-primary;
}
.search-btn{
    display: block;
}
.search-btn button{
    background-color: transparent;
    color: $heading-color;
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 0px 8px 8px 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.header-midle-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;
}
.icon-menu{
    display: block;
}
.icon-menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-menu ul li{
    display: inline-block;
    margin-right: 18px;
}
.icon-menu ul li:last-child{
    margin: 0px;
}
.icon-menu ul li a{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: $text-color;
    background-color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.icon-menu ul li a:hover{
    color: #fff;
    background-color: $color-primary;
}
.icon-menu ul li a span{
    position: absolute;
    top: -12px;
    left: 20px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: $color-primary;
    border: 2px solid #fff;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
.total-price{
    min-width:80px;
}
.total-price span{
    color: $heading-color;
    font-family: $font-en-primary;
    text-transform:uppercase;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
}
.total-price h3{
    color: $heading-color;
    font-family: $font-en-primary;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

/*** header-midle-res ***/
.header-midle-res{
    display: none;
    padding: 12px 0px;
    box-sizing: border-box;
}
.header-midle-res-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    box-sizing: border-box;
}
.res-search-icon{
    display: block;
}
.res-search-icon button{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: $text-color;
    background-color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.3s linear; 
    border: none;
    outline: none;
}
.res-search-icon button:hover{
    background-color: $color-primary;
    color: #fff;
}
.header-bottom{
    display: block;
    background-color: #fff;
    padding: 19px 10px;
    box-sizing: border-box;
    width: 100%;
}
.header-bottom-main{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.header-menu{
    display: block;
}
.header-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.header-menu ul li{
    display: inline-block;
    margin-right: 30px;
}
.header-menu ul li a{
    color: $text-color;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-family: $font-en-primary;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    transition: all 0.3s linear;
}
.header-menu ul li a i{
    font-size: 13px;
}
.header-menu ul li a:hover{
    color: $color-primary;
}
.header-len{
    display: block;
}
.header-len ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.header-len ul li{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    margin-right: 40px;
    color: $text-color;
    font-weight: inherit;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    transition: all 0.3s linear;
}
.header-len ul li i{
    transition: all 0.3s linear;
}
.header-len ul li:hover > i{
    color: $color-primary;
}
.header-len ul li:nth-child(1)::after{
    content: "";
    width: 1px;
    height: 25px;
    background-color: $color-border;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.header-len ul li i{
    font-size: 16px;
}
.header-len ul li span{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 7px;
}
.header-len ul li span i{
    font-size: 13px;
}
.header-len ul li:last-child,.header-menu ul li:last-child{
    margin: 0px;
}
@media(max-width:990px){
    .header-bottom{
        display: none;
    }
    .header-midle-main{
        display: none;
    }
    .header-midle-res{
        display: block;
    }
    .search-area{
        margin: 20px 0px 0px 0px;
    }
    .header-logo{
        margin: 0px;
    }
    .header-logo img{
        height: 40px;
    }
}
@media(max-width:1200px){
    .header-menu ul li{
        margin-right: 18px;
    }
    .header-menu ul li a{
        font-size: 15px;
    }
    .total-price{
        display: none;
    }
    .join a{
        display: none;
    }
}
