/* You can add global styles to this file, and also import other style files */
@import'./theme/base';
/*** swipper-slider ****/
@import "~swiper/swiper-bundle.min.css";
@import "~swiper/css/effect-fade";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import "~swiper/css/effect-coverflow";
@import'./theme/variables';

.slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}
::selection{
  color: #fff;
  background-color: $color-primary;
}